{% extends 'data_app/base.html' %}

{% block content %}
    <h1>Содержимое файлов</h1>

    {% if message %}
        <p class="alert alert-info">{{ message }}</p>
    {% else %}
        {% for file in files_data %}
            <div class="card mb-3">
                <div class="card-header">{{ file.name }}</div>
                <div class="card-body">
                    <pre><code class="language-{{ file.name|slice:".-3:" }}">{{ file.content }}</code></pre>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}